{% extends "base.html" %}
{% block content %}  
<head>
      <title>Login</title>
   </head>
   
      <div class = "container">
   
	<h2 align = center>Login</h2>
	 <table cellspacing="2" cellpadding="2" border="0" align="center">
            <tr/>
            <tr/>
			<tr>
               <td align="right"><font size = +2>Username</font></td>
               <td><input type="text" name="username"/></td>
            </tr>
          
			<tr/>           
			<tr/>
			
            <tr>
               <td align="left"><font size = +2>Password</font></td>
               <td><input type="password" name="password" /></td>
            </tr>
            
			<tr/>
			<tr/>
			
            <tr>
               <td align="right"></td>
               <td>&nbsp;&nbsp;<input type="button" value="Submit" onclick="location.href=/details/" /></td>
            </tr>
            
     </table>   
     </div>   
{% endblock %}