{% extends "base.html" %}
{% block content %}
<div class = 'container'>
	<h2 align = center>Verification</h2>
	 <table cellspacing="2" cellpadding="2" border="0" align="center">
            <tr/>
            <tr/>
			<tr>
               <td align="left"><font size = +2>Enter OTP</font></td>
               <td><input type="password" name="otp" /></td>
            </tr>
            
			<tr/>          
			<tr/>
			
            <tr>
               <td align="right"></td>
               <td><input type="button" value="Verify" /></td>
            </tr>
            
     </table>   
     </div>   
{% endblock %}